html,
body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(245, 245, 245);
}

.container {
  margin: 100px auto;
  width: 90%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: orangered;
}

/* overriding for GIF cards displaying on phones */
@media screen and (max-width: 600px) {
  span.MuiCardHeader-title {
    font-size: 14px;
  }
  span.MuiCardHeader-subheader {
    font-size: 11px;
  }
  svg.MuiSvgIcon-root {
    height: 15px;
    margin: 0;
  }
  svg.LikeButton-star-4034 {
    height: 20px;
  }
}
